<div class="container">
  <div class="container__content">
    <h1>
      Bienvenido a Angelus Bartender! :)
    </h1>
    <div class="greeting">
      <div>
        <p>El lugar perfecto para encontrar ese cocktail que tienes en tu mente para preparar</p>
      </div>
      <div>
        <img src="https://www.thecocktaildb.com/images/media/drink/qgdu971561574065.jpg">
      </div>
    </div>
    <div class="button">
      <button routerLink="/login">Iniciar Sesión 🥃</button>
    </div>
  </div>
</div>